      </div>
      <footer class="bg-green-700 text-white text-center py-4">
        <p>&copy; 2025 Donation Platform. All rights reserved.</p>
      </footer>
      <script type="module" src="/scripts/toast.js"></script>
    </div>

  </body>
</html>